<!doctype html>
<html lang="en" class="error">

<head>
    <meta charset="utf-8">
    <title>Página no encontrada | comeygana</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body class="error">
    <header>
        <div id="sidenav-bg" class="sidenav-bg"></div>
    </header>

    <nav class="mat-toolbar animated fadeInDown">
        <div class="nav-wrapper container">
            <a href="http://www.comeygana.com" class="logo">
                <img src="img/logo-comeygana.png" alt="comeygana - Fideliza a tus clientes de manera fácil">
            </a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <button class="primary mat-raised-button">RESTAURANTE</button>
                </li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="/tienes-un-restaurante" title="Tienes un restaurante?">TIENES UN RESTAURANTE?</a>
                </li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="/descargar-app" title="Descarga la app">DESCARGA LA APP</a>
                </li>
            </ul>

            <button type="button" class="nav-bar-toggle" onclick="openNav()">
                <span class="button-bar"></span>
                <span class="button-bar"></span>
                <span class="button-bar"></span>
            </button>
        </div>
    </nav>

    <nav id="sidenav-dev" class="sidenav">
        <div class="sidenav-item">
            <ul>
                <li>
                    <a href="/descargar-app" title="Descarga la app">DESCARGA LA APP</a>
                </li>
                <li>
                    <a href="/tienes-un-restaurante" title="Tienes un restaurante?">TIENES UN RESTAURANTE?</a>
                </li>
                <li>
                    <a href="/" title="Tienes un restaurante?">RESTAURANTE</a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="text-align-center">
        <h1 class="error">404</h1>
        <p>Lo sentimos, pero lo página que estas intentando ver no existe.</p>
        <a href="http://www.comeygana.com" class="primary mat-raised-button">Regresar</a>
    </section>

    <footer></footer>
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
        window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
    </script>
    <script src="http://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>