<!doctype html>
<html lang="en" class="error">

<head>
    <meta charset="utf-8">
    <title>Página no encontrada | iurest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body class="error">
    <header>
        <div id="sidenav-bg" class="sidenav-bg"></div>
    </header>

    <nav class="mat-toolbar">
        <div class="nav-wrapper container">
            <a href="http://www.iurest.com" class="logo">
                <img src="img/logo-iurest.png" alt="iurest - Fideliza a tus clientes de manera fácil">
            </a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <button class="primary mat-raised-button">REGÍSTRATE</button>
                </li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="" title="INGRESA">INGRESA</a>
                </li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="/tienes-un-restaurante" title="Tienes un restaurante?">TIENES UN RESTAURANTE?</a>
                </li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="/descargar-aplicacion" title="Descargar la aplicación">DESCARGAR</a>
                </li>
            </ul>

            <button type="button" class="nav-bar-toggle" onclick="openNav()">
                <span class="button-bar"></span>
                <span class="button-bar"></span>
                <span class="button-bar"></span>
            </button>
        </div>
    </nav>

    <nav id="sidenav-dev" class="sidenav">
        <div class="sidenav-item">
            <ul>
                <li>
                    <a href="/descargar-aplicacion" title="Descargar la aplicación">DESCARGAR</a>
                </li>
                <li>
                    <a href="/tienes-un-restaurante" title="Tienes un restaurante?">TIENES UN RESTAURANTE?</a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="text-align-center">
        <h1 class="error">404</h1>
        <p>Lo sentimos, pero lo página que estas intentando ver no existe.</p>
        <a href="http://www.iurest.com" class="primary mat-raised-button">Regresar</a>
        <!--h1>{{message}}</h1>
        <h2>{{error.status}}</h2
        <pre>{{error.stack}}</pre-->
    </section>
</body>

</html>
<!-- IE needs 512+ bytes: https://blogs.msdn.microsoft.com/ieinternals/2010/08/18/friendly-http-error-pages/ -->