<!doctype html>
<html class="no-js" lang="es-CO">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ordena desde el celular, acumula y redime puntos | comeygana</title>
    <meta name="description" content="Con come y gana podrás ganar premios por comer en tus restaurantes favoritos">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <header>
        <div id="sidenav-bg" class="sidenav-bg"></div>
    </header>

    <nav class="mat-toolbar animated fadeInDown">
        <div class="nav-wrapper container">
            <a href="http://www.comeygana.com" class="logo">
                <img src="img/logo-comeygana.png" alt="comeygana - Fideliza a tus clientes de manera fácil">
            </a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <button class="primary mat-raised-button">REGÍSTRATE</button>
                </li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="" title="INGRESA">INGRESA</a>
                </li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="/tienes-un-restaurante" title="Tienes un restaurante?">TIENES UN RESTAURANTE?</a>
                </li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a class="active" href="/descargar-aplicacion" title="Descargar la aplicación">DESCARGAR</a>
                </li>
            </ul>

            <button type="button" class="nav-bar-toggle" onclick="openNav()">
                <span class="button-bar"></span>
                <span class="button-bar"></span>
                <span class="button-bar"></span>
            </button>
        </div>
    </nav>

    <nav id="sidenav-dev" class="sidenav">
        <div class="sidenav-item">
            <ul>
                <li>
                    <a class="active" href="/descargar-aplicacion" title="Descargar la aplicación">DESCARGAR</a>
                </li>
                <li>
                    <a href="/tienes-un-restaurante" title="Tienes un restaurante?">TIENES UN RESTAURANTE?</a>
                </li>
            </ul>
        </div>
    </nav>

    <article>
        <section class="main app-image">
            <div class="container">
                <h1 class="animated fadeInDown">Ordena desde tu celular, acumula y redime tus puntos</h1>
                <div class="width-complete badges-center">
                    <img src="img/descargar-desde-google-play.png" title="Descargar desde Google Play" alt="Descargar desde Google Play" class="badges animated fadeInDown"
                        style="margin-right: 8px;" />
                    <img src="img/descargar-desde-app-store.png" title="Descargar desde App Store" alt="Descargar desde App Store" class="badges animated fadeInDown"
                    />
                </div>
            </div>
            <div style="background-color: rgba(21,21,21,.8)"></div>
        </section>

        <section>
            <div class="container">
                <div class="get-app">
                    <div class="left margin-right">
                        <h2 class=" opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">Ordena desde el celular</h2>
                        <p class=" opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">Escanea o ingresa el código que se encuentra en la mesa del restaurante, podrás visualizar el menú
                            y ordenar tu comida favorita</p>
                    </div>
                    <div class="right display-mobile">
                        <img src="img/menu-del-establecimiento.png" title="Ver el menu del restaurante desde el celular" alt="Ver el menu del restaurante desde el celular"
                            class="card-box-shadow opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">
                    </div>
                </div>
            </div>
        </section>

        <section class="background-color-white">
            <div class="container">
                <div class="get-app">
                    <div class="left display-mobile">
                        <img src="img/ordenar-acumular-puntos.png" title="Acumula puntos cuando ordenes" alt="Acumula puntos cuando ordenes" class="card-box-shadow opacity-cero revealOnScroll"
                            data-animation="fadeInDown" data-timeout="300">
                    </div>
                    <div class="right margin-left">
                        <h2 class=" opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">Acúmula puntos</h2>
                        <p class=" opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">Cada vez que ordenes en el restaurante, recibirás puntos que luego podrás redimir por las recompensas
                            que más te gusten</p>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="get-app">
                    <div class="left margin-right">
                        <h2 class=" opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">Gana recompensas</h2>
                        <p class=" opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">Redime tus puntos aculados por recompensas en comida, no esperes más para disfrutar de comeygana.
                            Descargala ya!</p>
                    </div>
                    <div class="right display-mobile">
                        <img src="img/redimir-puntos.png" title="Redime tus puntos por fabulosas recompensas" alt="Redime tus puntos por fabulosas recompensas" class="card-box-shadow opacity-cero revealOnScroll"
                            data-animation="fadeInDown" data-timeout="300">
                    </div>
                </div>
            </div>
        </section>

        <section class="background-color-white text-align-center">
            <div class="container">
                <!--div class="get-app download-section">
                    <div class="img-center">
                        <img src="img/menu-desde-iphone.png" title="Ver menú desde el celular" alt="Ver menú desde el celular" class="opacity-cero revealOnScroll"
                            data-animation="fadeInUp" data-timeout="300"-->
                <!--/div>
                </div-->
                <div class="width-complete badges-center">
                    <img src="img/descargar-desde-google-play.png" title="Descargar desde Google Play" alt="Descargar desde Google Play" class="badges opacity-cero revealOnScroll"
                        data-animation="fadeInUp" data-timeout="300" style="margin-right: 8px;" />
                    <img src="img/descargar-desde-app-store.png" title="Descargar desde App Store" alt="Descargar desde App Store" class="badges opacity-cero revealOnScroll"
                        data-animation="fadeInUp" data-timeout="300" />
                </div>
            </div>
        </section>

        <!--section>
            <div class="container">
                <div class="get-app">
                    <div class="left">
                        <h2>Download the LevelUp App and order ahead (almost) anywhere</h2>
                        <p>Grab your lunch faster with LevelUp. Save time and money at thousands of restaurants nationwide.
                            <a href="/descargar-aplicacion" class="primary-color">Más información</a>
                        </p>

                        <img src="img/descargar-desde-app-store.png" title="Descargar desde App Store" alt="Descargar desde App Store" class="badges"
                        />
                        <img src="img/descargar-desde-google-play.png" title="Descargar desde Google Play" alt="Descargar desde Google Play" class="badges"
                        />
                    </div>
                    <div class="right display-mobile">
                        <img src="img/ordenar-desde-el-celular.png" title="Ordenar desde el celular" alt="Ordenar desde el celular">
                    </div>
                </div>
            </div>
        </section-->
    </article>

    <footer class="fixed">
        <div class="container">
            <div class="footer-row">
                <a href="/">
                    <img src="img/logo-comeygana.png" title="comeygana" alt="comeygana" class="logo-footer">
                </a>
                <span class="app-flex-filler"></span>

                <a href="/">
                    <img src="img/facebook.png" title="comeygana en facebook" alt="comeygana en facebook" class="social-network">
                </a>
            </div>
            <div class="display-flex">
                <!--div class="column">
                    <p>
                        Premia la fidelidad de tus clientes con comeygana
                    </p>
                </div-->
                <div class="column">
                    <ul>
                        <li>
                            <a class="primary-color" href="/descargar-aplicacion" title="Descargar la aplicación">Descargar</a>
                        </li>
                        <li>
                            <a href="/tienes-un-restaurante" title="Tienes un restaurante?">Tienes un restaurante?</a>
                        </li>
                        <li>
                            <a href=".">Ingresa</a>
                        </li>
                        <li>
                            <a href=".">Regístrate</a>
                        </li>
                    </ul>
                </div>
                <div class="column">
                    <h3 class="primary-color">Contáctanos</h3>
                    <p>
                        <strong>Realbind SAS</strong>
                        <br/> +57 () 9897867
                        <br/> Calle 98 #18-71 Piso 2, Bogotá Colombia
                        <br/>
                        <strong>Email:</strong> contacto@realbind.com
                    </p>
                </div>
            </div>
        </div>
        <div class="copy">
            <span>comeygana © 2018. Todos los derechos reservados</span>
        </div>
    </footer>

    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
        window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
    </script>
    <script src="http://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>