<!doctype html>
<html class="no-js" lang="es-CO">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Programa de fidelización de clientes para restaurantes | iurest</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <script type="text/javascript" src="js/thanks.js"></script>
</head>

<body>
    <section class="lp regiter-img">
        <div class="container">
            <div class="content-lp">
                <a href="http://www.iurest.com">
                    <img src="img/logo-iurest.png" alt="iurest - Fideliza a tus clientes de manera fácil">
                </a>
                <div class="title-lp">
                    <h1>Conoce y premia a tus clientes por su fidelidad</h1>
                    <h2>Te ofrecemos una app rápida y sencilla que te permite crear una relación estable con tus clientes a través
                        de un sistema de puntos personalizable</h2>
                </div>
            </div>
            <div class="register-form">
                <div class="register-header">
                    <h5>Fideliza a tus clientes</h5>
                </div>
                <div class="register-content">
                    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="thanksRedirect()"></iframe>
                    <form name="register" action="https://docs.google.com/forms/u/1/d/e/1FAIpQLSeVehHBnpeRQDNb7I_GSg-ro0EffIs2C9mLIQ3axPk43UNIvA/formResponse"
                        method="post" target="hidden_iframe" onsubmit="submitted=true;">
                        <div class="freebirdFormviewerViewFormCard">
                            <div class="freebirdFormviewerViewAccentBanner freebirdAccentBackground"></div>
                            <div class="freebirdFormviewerViewFormContent ">
                                <div class=freebirdFormviewerViewItemList role="list">
                                    <div role="listitem" class="freebirdFormviewerViewItemsItemItem freebirdFormviewerViewItemsTextTextItem" jsname="ibnC6b"
                                        jscontroller="rDGJeb" jsaction="sPvj8e:e4JwSe,vwKRrd;" data-required="true" data-item-id="30530564">

                                        <div class="freebirdFormviewerViewItemsItemItemTitle freebirdCustomFont" dir="auto" role="heading" aria-level="2" aria-describedby="i.desc.30530564 i3">Nombres y Apellidos
                                            <span class="freebirdFormviewerViewItemsItemRequiredAsterisk" aria-label="Pregunta obligatoria">*</span>
                                        </div>
                                        <div class="freebirdFormviewerViewItemsItemItemHelpText" id="i.desc.30530564" dir="auto"></div>

                                        <div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdThemedInput" jscontroller="pxq3x"
                                            jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;" jsshadow jsname="W85ice">

                                            <input type="text" class="quantumWizTextinputPaperinputInput exportInput" jsname="YPqjbf" autocomplete="off" tabindex="0"
                                                aria-label="Nombres y Apellidos" aria-describedby="i.desc.30530564 i.err.30530564"
                                                name="entry.2143532217" value="" required dir="auto" data-initial-dir="auto"
                                                data-initial-value="" />
                                            <div class="quantumWizTextinputPaperinputUnderline exportUnderline"></div>
                                            <div jsname="XmnwAc" class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline"></div>

                                            <div class="quantumWizTextinputPaperinputCounterErrorHolder">
                                                <div jsname="ty6ygf" class="quantumWizTextinputPaperinputHint exportHint"></div>
                                            </div>
                                        </div>
                                        <div class="freebirdFormviewerViewItemsItemGradingGradingBox freebirdFormviewerViewItemsItemGradingFeedbackBox" jsname="R7fTud"></div>
                                        <div jsname="XbIQze" class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.30530564" role="alert"></div>
                                    </div>
                                    <div role="listitem" class="freebirdFormviewerViewItemsItemItem freebirdFormviewerViewItemsTextTextItem" jsname="ibnC6b"
                                        jscontroller="rDGJeb" jsaction="sPvj8e:e4JwSe,vwKRrd;" data-required="true" data-item-id="2139642840">

                                        <div class="freebirdFormviewerViewItemsItemItemTitle freebirdCustomFont" dir="auto" role="heading" aria-level="2" aria-describedby="i.desc.2139642840 i6">Correo electrónico
                                            <span class="freebirdFormviewerViewItemsItemRequiredAsterisk" aria-label="Pregunta obligatoria">*</span>
                                        </div>
                                        <div class="freebirdFormviewerViewItemsItemItemHelpText" id="i.desc.2139642840" dir="auto"></div>

                                        <div class="freebirdFormviewerViewItemsTextItemWrapper">
                                            <div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdFormviewerViewItemsTextEmail freebirdThemedInput"
                                                jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;"
                                                jsshadow jsname="W85ice">

                                                <input type="email" class="quantumWizTextinputPaperinputInput exportInput" jsname="YPqjbf" autocomplete="off" tabindex="0"
                                                    aria-label="Correo electrónico" aria-describedby="i.desc.2139642840 i.err.2139642840"
                                                    name="entry.998054321" value="" required dir="auto" data-initial-dir="auto"
                                                    data-initial-value="" />
                                                <div class="quantumWizTextinputPaperinputUnderline exportUnderline"></div>
                                                <div jsname="XmnwAc" class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline"></div>

                                                <div class="quantumWizTextinputPaperinputCounterErrorHolder">
                                                    <div jsname="ty6ygf" class="quantumWizTextinputPaperinputHint exportHint"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="freebirdFormviewerViewItemsItemGradingGradingBox freebirdFormviewerViewItemsItemGradingFeedbackBox" jsname="R7fTud"></div>
                                        <div jsname="XbIQze" class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.2139642840" role="alert"></div>
                                    </div>
                                    <div role="listitem" class="freebirdFormviewerViewItemsItemItem freebirdFormviewerViewItemsTextTextItem" jsname="ibnC6b"
                                        jscontroller="rDGJeb" jsaction="sPvj8e:e4JwSe,vwKRrd;" data-required="true" data-item-id="1054585395">

                                        <div class="freebirdFormviewerViewItemsItemItemTitle freebirdCustomFont" dir="auto" role="heading" aria-level="2" aria-describedby="i.desc.1054585395 i9">Teléfono/Celular
                                            <span class="freebirdFormviewerViewItemsItemRequiredAsterisk" aria-label="Pregunta obligatoria">*</span>
                                        </div>
                                        <div class="freebirdFormviewerViewItemsItemItemHelpText" id="i.desc.1054585395" dir="auto"></div>

                                        <div class="freebirdFormviewerViewItemsTextItemWrapper">
                                            <div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdFormviewerViewItemsTextNumber freebirdThemedInput"
                                                jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;"
                                                jsshadow jsname="W85ice">
                                                <input type="number" class="quantumWizTextinputPaperinputInput exportInput" jsname="YPqjbf" autocomplete="off" tabindex="0"
                                                    aria-label="Teléfono/Celular" aria-describedby="i.desc.1054585395 i.err.1054585395"
                                                    name="entry.896986152" value="" required dir="auto" data-initial-dir="auto"
                                                    data-initial-value="" />
                                                <div class="quantumWizTextinputPaperinputUnderline exportUnderline"></div>
                                                <div jsname="XmnwAc" class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline"></div>

                                                <div class="quantumWizTextinputPaperinputCounterErrorHolder">
                                                    <div jsname="ty6ygf" class="quantumWizTextinputPaperinputHint exportHint"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="freebirdFormviewerViewItemsItemGradingGradingBox freebirdFormviewerViewItemsItemGradingFeedbackBox" jsname="R7fTud"></div>
                                        <div jsname="XbIQze" class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.1054585395" role="alert"></div>
                                    </div>
                                    <div role="listitem" class="freebirdFormviewerViewItemsItemItem freebirdFormviewerViewItemsTextTextItem" jsname="ibnC6b"
                                        jscontroller="rDGJeb" jsaction="sPvj8e:e4JwSe,vwKRrd;" data-required="true" data-item-id="784817258">

                                        <div class="freebirdFormviewerViewItemsItemItemTitle freebirdCustomFont" dir="auto" role="heading" aria-level="2" aria-describedby="i.desc.784817258 i12">Comentario/Pregunta
                                            <span class="freebirdFormviewerViewItemsItemRequiredAsterisk" aria-label="Pregunta obligatoria">*</span>
                                        </div>
                                        <div class="freebirdFormviewerViewItemsItemItemHelpText" id="i.desc.784817258" dir="auto"></div>

                                        <div class="quantumWizTextinputPapertextareaEl modeLight freebirdFormviewerViewItemsTextLongText freebirdThemedInput" jscontroller="pxq3x"
                                            jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;" jsshadow jsname="W85ice">
                                            <textarea class="quantumWizTextinputPapertextareaInput exportTextarea materialize-textarea" jsname="YPqjbf" data-rows="1"
                                                tabindex="0" aria-label="Comentario/Pregunta" jscontroller="gZjhIf" jsaction="input:Lg5SV;ti6hGc:XMgOHc;rcuQ6b:WYd;"
                                                required name="entry.1073372956" dir="auto" data-initial-dir="auto" data-initial-value=""></textarea>
                                            <div class="quantumWizTextinputPapertextareaUnderline exportUnderline"></div>
                                            <div jsname="XmnwAc" class="quantumWizTextinputPapertextareaFocusUnderline exportFocusUnderline"></div>
                                            <div class="quantumWizTextinputPapertextareaCounterErrorHolder">
                                                <div jsname="ty6ygf" class="quantumWizTextinputPapertextareaHint exportHint"></div>
                                            </div>
                                        </div>
                                        <div class="freebirdFormviewerViewItemsItemGradingGradingBox freebirdFormviewerViewItemsItemGradingFeedbackBox" jsname="R7fTud"></div>
                                        <div jsname="XbIQze" class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.784817258" role="alert"></div>
                                    </div>
                                </div>

                                <div class="freebirdFormviewerViewNavigationNavControls" jscontroller="lSvzH" jsaction="rcuQ6b:npT2md;JIbuQc:Gl574d(QR6bsb),V3upec(GeGHKb),HiUbje(M2UYVd),NPBnCf(OCpkoe);"
                                    data-shuffle-seed="-8787090320949548748" data-should-execute-invisible-captcha-challenge="false"
                                    data-is-receipt-checked="false">

                                    <button type="submit" class="primary mat-raised-button width-complete">ENVIAR</button>
                                </div>
                                <input type="hidden" name="fvv" value="1">
                                <input type="hidden" name="draftResponse" value="[null,null,&quot;-8787090320949548748&quot;]
                            ">
                                <input type="hidden" name="pageHistory" value="0">
                                <input type="hidden" name="fbzx" value="-8787090320949548748">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="get-app">
                <div class="row">
                    <div class="column">
                        <img src="img/fidelizar-clientes.png" title="Fidelizar clientes" alt="Fideliza a tus clientes">
                        <h3 class="primary-color">Fideliza</h3>
                        <p>
                            a los clientes de tu restaurante
                        </p>
                    </div>
                    <div class="column">
                        <img src="img/aumentar-presencia-en-internet.png" title="Presencia en internet" alt="Aumenta la presencia de tu restaurante en internet">
                        <h3 class="primary-color">Aumenta</h3>
                        <p>
                            la presencia de tu restaurante en internet
                        </p>
                    </div>
                    <div class="column">
                        <img src="img/renovar-restaurante.png" title="Renovar la imagen" alt="Renueva la imagen de tu negocio">
                        <h3 class="primary-color">Renueva</h3>
                        <p>
                            la imagen de tu negocio
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="background-color-white">
        <div class="container">
            <div class="get-app">
                <div class="left">
                    <h2>Gestiona tu menú</h2>
                    <p>Ingresa tus platos con información detallada (fotos, descripción, precio ...), habilitalos o inhabilitalos
                        y selecciona tus recomendados. Así tus clientes los podrán ver desde sus dispositvos.
                    </p>
                </div>
                <div class="right display-mobile">
                    <img src="img/gestionar-tu-menu.png" title="colaboladores" alt="Crea a tus colaboradores">
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="get-app">
                <div class="left  display-mobile">
                    <img src="img/recompensa-a-tus-clientes.png" title="menu" alt="Ver el menú desde cualquier dispositivo">
                </div>
                <div class="right">
                    <h2>Premia a tus clientes</h2>
                    <p>Convierte tus platos en recompensas y dale la oportunidad a tus clientes que los rediman comiendo.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="background-color-white">
        <div class="container">
            <div class="get-app">
                <div class="left">
                    <h2>Toma decisiones acertadas</h2>
                    <p>A través de la visualización de gráficos podrás identificar las tendencias y habitos de consumo de tus
                        clientes.
                    </p>
                </div>
                <div class="right display-mobile">
                    <img src="img/estadisticas-de-tu-restaurante.png" title="Estadísticas del comportamiento de tu restaurante" alt="Estadísticas del comportamiento de tu restaurante">
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="get-app logos-padding">
                <div class="logos">
                    <a href="https://hubbog.com/" target="_blank">
                        <img src="img/emblema-acelerados.png" title="Acelerados en Hubbog" alt="Emblema acelerados en Hubbog" class="img-hubbog">
                    </a>
                    <a href="https://www.payulatam.com/co/" target="_blank">
                        <img src="img/payu.png" title="Pagos garantizados por Payu" alt="Pagos garantizados por Payu">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="footer-row">
                <a href="/">
                    <img src="img/logo-iurest.png" title="iurest" alt="iurest" class="logo-footer">
                </a>
                <span class="app-flex-filler"></span>

                <a href="/">
                    <img src="img/facebook.png" title="iurest en facebook" alt="iurest en facebook" class="social-network">
                </a>
            </div>
            <div class="display-flex">
                <div class="column">
                    <h3 class="primary-color">Contáctanos</h3>
                    <p>
                        <strong>Realbind SAS</strong>
                        <br/> +57 () 9897867
                        <br/> Calle 98 #18-71 Piso 2, Bogotá Colombia
                        <br/>
                        <strong>Email:</strong> contacto@realbind.com
                    </p>
                </div>
                <div class="column">
                    <p>
                        Premia la fidelidad de tus clientes con iurest
                    </p>
                </div>
            </div>
        </div>
        <div class="copy">
            <span>iurest © 2018. Todos los derechos reservados</span>
        </div>
    </footer>

    <div id="spinner" class="loading display-none">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
        window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
    </script>
    <script src="http://www.google-analytics.com/analytics.js" async defer></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>