<!doctype html>
<html class="no-js" lang="es-CO">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Programa de fidelización de clientes para restaurantes | comeygana</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">

    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <script type="text/javascript" src="js/thanks.js"></script>
</head>

<body class="lp thanks-img regiter-img">
    <section>
        <div class="container">
            <div class="center-screem">
                <div class="title-lp">
                    <img src="img/datos-recibidos.png" title="Datos recibidos" alt="Datos recibidos correctamente" class="animated fadeInDown">
                    <h1 class="animated fadeInDown">Muchas gracias!</h1>
                    <h2 class="animated fadeInDown">Hemos recibido tus datos, estaremos en contacto contigo.</h2>
                    <a  href="http://www.comeygana.com" class="primary mat-raised-button animated fadeInDown" title="www.comeygana.com">Ir a inicio</a>
                </div>
            </div>
        </div>
    </section>

    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
        window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
    </script>
    <script src="http://www.google-analytics.com/analytics.js" async defer></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>