<!doctype html>
<html class="no-js" lang="es-CO">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Programa de fidelizacion de clientes | comeygana</title>
    <meta name="description" content="comeygana app, permite incentivar y fidelizar a tus clientes para que acumulen y rediman puntos por recompensas en el restaurante">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <header>
        <div id="sidenav-bg" class="sidenav-bg"></div>
    </header>

    <nav class="mat-toolbar animated fadeInDown">
        <div class="nav-wrapper container">
            <a href="http://www.comeygana.com" class="logo">
                <img src="img/logo-comeygana.png" alt="comeygana - Fideliza a tus clientes de manera fácil">
            </a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <button class="primary mat-raised-button">REGÍSTRATE</button>
                </li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="" title="INGRESA">INGRESA</a>
                </li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a class="active" href="/tienes-un-restaurante" title="Tienes un restaurante?">TIENES UN RESTAURANTE?</a>
                </li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="/descargar-aplicacion" title="Descargar la aplicación">DESCARGAR</a>
                </li>
            </ul>

            <button type="button" class="nav-bar-toggle" onclick="openNav()">
                <span class="button-bar"></span>
                <span class="button-bar"></span>
                <span class="button-bar"></span>
            </button>
        </div>
    </nav>

    <nav id="sidenav-dev" class="sidenav">
        <div class="sidenav-item">
            <ul>
                <li>
                    <a href="/descargar-aplicacion" title="Descargar la aplicación">DESCARGAR</a>
                </li>
                <li>
                    <a class="active" href="/tienes-un-restaurante" title="Tienes un restaurante?">TIENES UN RESTAURANTE?</a>
                </li>
            </ul>
        </div>
    </nav>

    <article>
        <section class="main restaurant-image">
            <div class="container">
                <div class="init-title">
                    <h1 class="animated fadeInDown">Programa de fidelización de clientes para restaurantes</h1>
                    <a href="/tienes-un-restaurante" class="primary mat-raised-button animated fadeInDown">Regístrate sin costo</a>
                </div>
            </div>
            <div style="background-color: rgba(21,21,21,.8)"></div>
        </section>

        <section>
            <div class="container">
                <div class="get-app">
                    <div class="row">
                        <div class="column opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">
                            <img src="img/fidelizar-clientes.png" title="Fidelizar clientes" alt="Fideliza a tus clientes">
                            <h3 class="primary-color">Fideliza</h3>
                            <p>
                                a los clientes de tu restaurante
                            </p>
                        </div>
                        <div class="column opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="400">
                            <img src="img/aumentar-presencia-en-internet.png" title="Presencia en internet" alt="Aumenta la presencia de tu restaurante en internet">
                            <h3 class="primary-color">Aumenta</h3>
                            <p>
                                la presencia de tu restaurante en internet
                            </p>
                        </div>
                        <div class="column opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="500">
                            <img src="img/renovar-restaurante.png" title="Renovar la imagen" alt="Renueva la imagen de tu negocio">
                            <h3 class="primary-color">Renueva</h3>
                            <p>
                                la imagen de tu negocio
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="background-color-white">
            <div class="container">
                <div class="get-app">
                    <div class="left">
                        <h2 class="opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">Gestiona tu menú</h2>
                        <p class="opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">Ingresa tus platos con información detallada (fotos, descripción, precio ...), habilitalos o inhabilitalos
                            y selecciona tus recomendados. Así tus clientes los podrán ver desde sus dispositvos.
                        </p>
                        <a href="/tienes-un-restaurante" class="primary mat-raised-button opacity-cero revealOnScroll" data-animation="fadeInDown"
                            data-timeout="500">Regístrate sin costo</a>
                    </div>
                    <div class="right display-mobile">
                        <img src="img/gestionar-tu-menu.png" title="colaboladores" alt="Crea a tus colaboradores" class="opacity-cero revealOnScroll"
                            data-animation="fadeInDown" data-timeout="300">
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="get-app">
                    <div class="left  display-mobile">
                        <img src="img/recompensa-a-tus-clientes.png" title="menu" alt="Ver el menú desde cualquier dispositivo" class="opacity-cero revealOnScroll"
                            data-animation="fadeInDown" data-timeout="300">
                    </div>
                    <div class="right">
                        <h2 class="opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">Premia a tus clientes</h2>
                        <p class="opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">Convierte tus platos en recompensas y dale la oportunidad a tus clientes que los rediman comiendo.</p>
                        <a href="/tienes-un-restaurante" class="primary mat-raised-button opacity-cero revealOnScroll" data-animation="fadeInDown"
                            data-timeout="500">Regístrate sin costo</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="background-color-white">
            <div class="container">
                <div class="get-app">
                    <div class="left">
                        <h2 class="opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">Toma decisiones acertadas</h2>
                        <p class="opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">A través de la visualización de gráficos podrás identificar las tendencias y habitos de consumo de
                            tus clientes.
                        </p>
                        <a href="/tienes-un-restaurante" class="primary mat-raised-button opacity-cero revealOnScroll" data-animation="fadeInDown"
                            data-timeout="500">Regístrate sin costo</a>
                    </div>
                    <div class="right display-mobile">
                        <img src="img/estadisticas-de-tu-restaurante.png" title="Estadísticas del comportamiento de tu restaurante" alt="Estadísticas del comportamiento de tu restaurante"
                            class="opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container text-align-center">
                <div class="get-app">
                    <div class="init-title">
                        <h2 class="opacity-cero revealOnScroll" data-animation="fadeInDown" data-timeout="300">Tu mismo puedes implementar comeygana, comienza a fidelizar a tus clientes!</h2>
                        <a href="/tienes-un-restaurante" class="primary mat-raised-button opacity-cero revealOnScroll" data-animation="fadeInDown"
                            data-timeout="500">Regístrate sin costo</a>
                    </div>
                </div>
                <img src="img/aplicacion-en-varios-dispositivos.png" title="Aplicación en varios dispositivos" alt="Aplicación en varios dispositivos"
                    class="width opacity-cero revealOnScroll" data-animation="fadeInUp" data-timeout="300">
            </div>
        </section>
    </article>

    <footer class="fixed">
        <div class="container">
            <div class="footer-row">
                <a href="/">
                    <img src="img/logo-comeygana.png" title="comeygana" alt="comeygana" class="logo-footer">
                </a>
                <span class="app-flex-filler"></span>

                <a href="/">
                    <img src="img/facebook.png" title="comeygana en facebook" alt="comeygana en facebook" class="social-network">
                </a>
            </div>
            <div class="display-flex">
                <!--div class="column">
                    <p>
                        Premia la fidelidad de tus clientes con comeygana
                    </p>
                </div-->
                <div class="column">
                    <ul>
                        <li>
                            <a href="/descargar-aplicacion" title="Descargar la aplicación">Descargar</a>
                        </li>
                        <li>
                            <a class="primary-color" href="/tienes-un-restaurante" title="Tienes un restaurante?">Tienes un restaurante?</a>
                        </li>
                        <li>
                            <a href=".">Ingresa</a>
                        </li>
                        <li>
                            <a href=".">Regístrate</a>
                        </li>
                    </ul>
                </div>
                <div class="column">
                    <h3 class="primary-color">Contáctanos</h3>
                    <p>
                        <strong>Realbind SAS</strong>
                        <br/> +57 () 9897867
                        <br/> Calle 98 #18-71 Piso 2, Bogotá Colombia
                        <br/>
                        <strong>Email:</strong> contacto@realbind.com
                    </p>
                </div>
            </div>
        </div>
        <div class="copy">
            <span>comeygana © 2018. Todos los derechos reservados</span>
        </div>
    </footer>

    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
        window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
    </script>
    <script src="http://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>